/*Index*/

/*
#Contenedor-header-nav{
    background-color: rgba(83,81,82,255);
    display: flex;
}
#Header{

}
#Nav{
    padding-left: 0%;

}

.index-ul-nav{
    display: flex;
    list-style: none;
}
*/
html {
  width: 100%;
  height: 100%;
}
body{

}



/*Modifico el estilo de Boostrap para el Navbar*/

#navbarNav {
  padding-left: 25%;
}
.navbar-brand {
  font-size: 30px;
}
.bg-body-tertiary {
  background-color: #dadada !important;
  padding-top: 4px;
  padding-bottom: 4px;
}

.navbar-brand {
  margin-left: 6%;
}

/*Fuente del titulo del navbar*/
.navbar-brand {
  font-family: "Carter One", cursive !important;
  font-family: "Poppins", sans-serif;
}
.div-nombreUsuario-salir{
  display: flex;
  font-family: "Carter One", cursive !important;
  font-family: "Poppins", sans-serif;
  width: 20%;
  margin-top: 1.5%;

}
.div-Usuario-salir{
  font-family: "Carter One", cursive !important;
  font-family: "Poppins", sans-serif;
  width: 20%;
  margin-top: 1.5%;

}
.a-div-nombreUsuario-salir{
  margin-left: 12px;
  text-decoration: none;

}
.p-carrito{
  margin-left: 10%;
}
.nav-link{
  padding-left: 5%;
  font-size: 15px;
}

/*Main */
main {
  width: 100%;
}

.index-contenedor-h1-eslogan {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;

  padding: 10%;
}
.display-4 {
  padding: 1%;
  font-family: "Carter One", cursive;
  font-family: "Poppins", sans-serif;
  border: solid 2px #dadada !important;
  font-weight: bold;
}
.p-texto-eslogan {
  font-family: "Carter One", cursive;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}

/*Modificando el Footer de Boostrap*/
.card-text-center {
  width: 100%;
  position: fixed;
  bottom: 0;
}

/*Tabla de Productos*/
.contenedor-tabla_productos {
  margin-top: 0%;
}
.contenedor-boton-nuevoArticulo{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 20vh;

}
.contenedor-padre-insertar-producto{
  display: flex;
  justify-content: center; /* Centramos horizontalmente */
  align-items: center; /* Centramos verticalmente */
   /* Establece la altura del contenedor para que ocupe toda la altura de la ventana */
  background-color: #f0f0f0; 
  font-family: "Carter One", cursive !important;
  font-family: "Poppins", sans-serif;

}
.contenedor-insertar-producto{
  text-align: center; /* Centra el contenido del div */
  padding: 1em; /* Espaciado interno para que se vea más prolijo en unidades em */
  border: 1px solid #ccc;
  margin-top: 5%;

}
.contenedor-insertar-producto label,input,textarea,button {
  display: block; 
    margin: 0.5em 0;

}
.contenedor-insertar-producto input, textarea {
  width: 100%;
  padding: 0.5em;

}
.contenedor-insertar-producto button {
  cursor: pointer;
  margin: 1em 0;
  margin-left: 9em;

}

.boton-agregar-producto{
  text-decoration: none;
  color: white;
}
.a-editar-eliminar{
  text-decoration: none;
  color: white;

}
/*Imagenes del box de productos*/

.div-primerImagen-boxProductos {
  width: 100%;
  margin-top: 8%;
  padding-left: 25%;
  padding-right: 25%;
  
}
.div-segundaImagen-boxProductos{
  width: 100%;
  
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 25%;

}

.img-fluid {
  max-width: 70%;
  height: auto;
  margin-left: 15%;
}

/*Texto de los productos*/
.fs-1 {
  font-family: "Carter One", cursive !important;
  font-family: "Poppins", sans-serif;
  margin-bottom: 0%;
  text-align: center;
}
.fs-4 {
  font-family: "Josefin Sans", sans-serif !important;
  margin-bottom: 0%;
  text-align: center;
}

/*Imagenes en carrusel de la ficha del producto*/

.contenedor-imagenes-ficha_producto {
  display: flex;
}
.div-carrusel-ficha_producto {
  width: 100%;

}

/*Texto que va al lado del carrusel en la ficha del producto*/
.contenedor-Texto-ficha_producto {
  margin-left: 0%;
}
.div-texto-ficha_producto {
  padding: 15%;
  font-family: "Carter One", cursive !important;
  font-family: "Poppins", sans-serif;
}
/*Texto Remera y precio de la ficha producto*/
.h3,
h3 {
  font-size: calc(1.3rem + 0.6vw);
  font-family: "Carter One", cursive;
  font-family: "Poppins", sans-serif;
 
}
.h6{
  font-family: "Poppins", sans-serif;

}

.fw-semibold {
  font-weight: 600 !important;
  font-family: "Carter One", cursive;
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
}
/*--------------------------------------------*/


/*Estilos Formulario Compra*/

.g-3,
.gy-3 {
  margin-right: 0px;
  margin-left: 0px;
}

.contenedor-central {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Carter One", cursive !important;
  font-family: "Poppins", sans-serif;;
}

.contenedor-formulario {
  max-width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;
  overflow-x: auto;
}

.etiqueta-formulario {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

.entrada-formulario,
.select-formulario {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.boton-formulario {
  background-color: #dadada;
  color: black;
  padding: 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.boton-formulario:hover {
  background-color: #2980b9;
}

@media screen and (min-width: 768px) {
  .contenedor-formulario {
      max-width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .contenedor-formulario {
      max-width: 50%;
  }
}

/*Seccion Login*/
.contenedor-login {
  font-family: "Carter One", cursive !important;
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.contenedor-formulario-login {
  background: #fff;
  border-radius: 5%;
  box-shadow: 0 0 2%;
  padding: 2%;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.contenedor-formulario-login h2 {
  margin: 0 0 5%;
}

.contenedor-formulario-login form {
  text-align: left;
}

.contenedor-formulario-login input {
  width: 100%;
  padding: 5%;
  margin-bottom: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contenedor-formulario-login button {
  width: 100%;
  padding: 5%;
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/*-----------------------------------------------*/

/*Carrusel Index*/

.carrusel-index {
  width: 100%;
  height: 10em;
  -webkit-scrollbar {
    display: none;
  }
  position: relative;
  overflow: hidden;
  margin-bottom: 2em;
  text-align: center;
}

.cuadros {
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease;
  animation: carrusel 20s infinite linear;
  /* Añade esta línea */
}

.slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.controles {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
}

.controles label {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  margin: 5px;
  cursor: pointer;
}

#slide1:checked ~ .slides {
  transform: translateX(0%);
}

#slide2:checked ~ .slides {
  transform: translateX(-100%);
}

#slide3:checked ~ .slides {
  transform: translateX(-200%);
}

#slide4:checked ~ .slides {
  transform: translateX(-300%);
}

/* Controla la transformación horizontal  */
@keyframes carrusel {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }

  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0%);
  }
}

/*Carrusel ficha_producto con js*/

.container-carrusel-ficha_producto {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

button {
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}
.imagen_grande1 {
  width: 30em;
}
.imagen_grande2 {
  width: 30em;
}
.imagen_grande3 {
  width: 30em;
}
.imagen_grande4 {
  width: 30em;
}

.imagenesC {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagen-item {
  display: none;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 10px;
}

.imagen-item:first-child {
  display: block; /* Mostrar la primer imagen por defecto */
}

/*Estilos plugin pop up Jquery*/

#mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: #000;
  display: none;
}

#boxes .window {
  position: absolute;
  left: 0;
  top: 0;
  width: 440px;
  height: 200px;
  display: none;
  z-index: 9999;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

#boxes #dialog {
  width: 750px;
  height: 300px;
  padding: 10px;
  background-color: #dadada;
  font-family: "Carter One", cursive !important;
  font-family: "Poppins", sans-serif;
  font-size: 15pt;
}

#popupfoot {
  font-size: 15pt;
  position: absolute;
  bottom: 0px;
  width: 250px;
  left: 250px;
}

/**/



footer {
  
  color: black;
  padding: 1em;
  
 padding-bottom: 0;
 padding-left: 0;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  footer {
    font-size: 0.875em; /* Reducir el tamaño del texto en pantallas más pequeñas */
  }
}

/* Seccion Carrito*/
.div-titulo-carrito{
  text-align: center;
  margin-bottom: 2%;
}
.texto-titulo-carrito{
  margin-top: 2%;
  font-family: "Carter One", cursive !important;
  font-family: "Poppins", sans-serif;


}
.a-eliminar-continuar {
  text-decoration: none;
  padding: 10px 15px;
  margin: 5px;
  color: #0d0c0c;
  background-color: #dadada;
  /* border-radius: 5px; */
  transition: background-color 0.3s;
}

.a-eliminar-continuar:hover {
  background-color: #2980b9;
}

/*------------------------------------------------------*/

/*Seccion Mis Compras*/

.tabla-mis-compras-container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(96 204 101);
}

.tabla-mis-compras {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabla-mis-compras th,
.tabla-mis-compras td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tabla-mis-compras th {
  background-color: #5bdc53c7;
}

.tabla-mis-compras tbody tr:hover {
  background-color: #f5f5f5;
}

.texto-miscompras{
  text-align: center;
background-color: #5bdc53c7;
margin-top: 2%;
font-family: "Carter One", cursive !important;
font-family: "Poppins", sans-serif;
font-size: 1.5em;

}


@media only screen and (max-width: 600px) {
  .tabla-mis-compras th,
  .tabla-mis-compras td {
      padding: 10px;
  }

  .accion-enlace {
      display: block;
      margin-bottom: 10px;
  }
}